html, body {
  background-color: red;
  height: 100%;
  width: 100%;
  margin: auto;
}

.general {
  background-color: #417D7A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100%;
  
}

.clock-container {
  display: flex;
  background-color: #EDE6DB;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  border-radius: 500px;
  align-self: center;
  border-collapse: collapse;
  box-shadow: -24px 20px 5px 0px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: -24px 20px 5px 0px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: -24px 20px 5px 0px rgba(0, 0, 0, 0.67);
}

.hours {
  background-color: #1A3C40;
  height: 13%;
  position: absolute;
  left: 49.6%;
  top: 38%;
  transform-origin: 50% 100%;
  border-radius: 20px;
  width: 12px;
  z-index: 10;
}

.minutes {
  background: #000;
  height: 18%;
  left: 49.5%;
  position: absolute;
  top: 32%;
  transform-origin: 50% 100%;
  width: 13px;
  border-radius: 20px;
  z-index: 8;
}

.seconds {
  background: rgb(61, 129, 40);
  height: 20%;
  left: 49.5%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 5px;
  border-radius: 20px;
  z-index: 9;
}

.dot {
  background: #417D7A;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  z-index: 8;
  grid-column: 2;
  grid-row: 2;
  justify-content: center;
  justify-self: center;
  align-self: center;
  z-index: 11;
}


.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  width: inherit;
  height: inherit;
  margin: auto;
}
.twelve {
  font-size: 50px;
  grid-column: 2;
  grid-row: 1;
  justify-content: center;
  justify-self: center;
  align-self: start;
  z-index: 15;
}

.three {
  font-size: 50px;
  grid-column: 3;
  grid-row: 2;
  justify-content: center;
  justify-self: end;
  align-self: center;
  z-index: 15;
}

.six {
  font-size: 50px;
  grid-column: 2;
  grid-row: 3;
  justify-content: center;
  justify-self: center;
  align-self: end;
  z-index: 15;
}

.nine {
  font-size: 50px;
  grid-column: 1;
  grid-row: 2;
  justify-content: center;
  justify-self: start;
  align-self: center;
  z-index: 15;
}
