.body {
    background-color: red;
    height: 100%;
    width: 100%;
    margin: auto;
}

.general {
    background-color: aqua;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    margin: auto;
}

.clock-container {
    display: flex;
    background-color: red;
    width: 400px;
    height: 400px;
    border-radius: 400px;
    align-self: center;
}

.hours {
    background-color: rgb(32, 31, 128);
    height: 18%;
    position: absolute;
    left: 49%;
    top: 31%;
    transform-origin: 50% 100%;
    width: 1.5%;
    
}

.minutes {
    background: #000;
    height: 38%;
    left: 49%;
    position: absolute;
    top: 10%;
    transform-origin: 50% 100%;
    width: 2%;
    
    border-radius: 20px;
}

.seconds {
    background: rgb(61, 129, 40);
    height: 40%;
    left: 49.5%;
    position: absolute;
    top: 10%;
    transform-origin: 50% 100%;
    width: 1%;
    
    border-radius: 20px;
}

.dot {
    background: white;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    z-index: 8;
    grid-column: 2;
    grid-row: 2;
    justify-content: center;
    justify-self: center;
    align-self: center;

}


@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}

.hours-container .hours {
    animation: rotate 100s infinite linear;
}

.minutes {
    animation: rotate 80s infinite linear;
}

.seconds {
    animation: rotate 60s infinite linear;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    width: inherit;
    height: inherit;
    margin: auto;
}
.twelve {
    font-size: 50px;
    grid-column: 2 ;
    grid-row: 1;
    justify-content: center;
    justify-self: center;
    align-self: start;
}

.three {
    font-size: 50px;
    grid-column: 3;
    grid-row: 2;
    justify-content: center;
    justify-self: end;
    align-self: center;
}

.six {

    font-size: 50px;
    grid-column: 2;
    grid-row: 3;
    justify-content: center;
    justify-self: center;
    align-self: end;
}

.nine {

    font-size: 50px;
    grid-column: 1 ;
    grid-row: 2;
    justify-content: center;
    justify-self: start;
    align-self: center;
}
